@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a Centerus Inc website. All rights reserved, including the right to gather information about your machine if you are an intruder.</p>
