@{
    ViewBag.Title = "Centerus Inc";
}
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This site is for condo miner owners only. If you are not an owner, please go to the
                <a href="http://centerus.com" title="Centerus Main Website">main Centerus website</a>.
            </p>
        </div>
    </section>

<h3>If you already own condo mining unit(s):</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Have you decided which crypto-coins you are going to mine? It's not just Bitcoins!
        With your condo minier(s) you can mine Peercoins, and other crypto-currencies also.
        <a href="http://coinmarketcap.com/">Learn more…</a>
    </li>

    <li class="two">
        <h5>Open an Account with a Mining Pool</h5>
        Have you decided which mining pool to join? Once you have decided which crypto-coin to mine,
        you can then decide which mining pool to join. (You can go solo, but that would be like buying a lottery ticket:
        your chances of earning anything is almost zero.)
        <a href="https://en.bitcoin.it/wiki/Pooled_mining">Learn more…</a>
    </li>

    <li class="three">
        <h5>Login!</h5>
        Once you determine which crypto-coin to mine and which pool to join, login and setup your condo miners.
        <a href="/Account/Login">Login here.</a>
    </li>
</ol>
