@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This site is for support personnel. It has read-only access to all condo mining units. The purpose is to allow the support personnel to see whatever the owners see, minus the abilit to modify anything without the owner's permission.</p>
