@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    This is what owners see:<br /><br />
    93 S Jackson St ECM 21970<br />
    Seattle, WA 98104<br />
    <abbr title="Phone">P:</abbr>
    425.738.0222
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@centerus.com">Support@centerus.com</a><br />
    <strong>Sales:</strong> <a href="mailto:sales@centerus.com">Sales@centerus.com</a><br /><br  />
    <strong>Carlos' Cell Number: </strong>425-246-7681<br />
    <string>Carlos' Email:</string> ctapang@centerus.com
</address>